$font-stack: Helvetica, sans-serif;
$primary-color: #009688;

$white: #E0F2F1;
$link-active-color: #CDDC3;

/*
 * Base structure
 */

html, body {

  font-family: "RobotoDraft", "Roboto", sans-serif;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  height: 100%;

  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  overflow: hidden
}

.container {
  overflow: hidden;
  width: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $link-active-color;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

h2 {
  color: $primary-color;
}

.center {
  text-align: center;
}

.link-active {
  color: $link-active-color;
  text-decoration: none;
}

.site-content {
  position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
}


.page-content {
  margin-top: 15px;
}


.category-header {
  margin-top: 5px;
  padding: 5px;
}

.category-content {
  margin-top: 15px;
  padding: 5px;
}

.skill-content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

}

/*
    NAVBAR
*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;

  line-height: 66px;

  color: #FFF;
  background-color: $primary-color;

  border-bottom: 1px solid #00695C;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  a:hover {
    color: $link-active-color;
  }
}

.header__icon {
  display: none;
}

header.header.dashboard{
  position: relative;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.dashboard {

  .header__logo {
    float: none;
    align-self: center;
  }

  .menu {
    display: flex;
    align-self: center;
  }

  .header__icon {
    display: flex;
    align-self: center;

  }
}

.site-content.dashboard {
  position: inherit;
  top: 350px;
}

.header__logo {
  color: $white;
  font-size: 1.4em;
  padding: 0 25px;
  float: left;

  a {
    text-decoration: none;
    color: #9d9d9d;
  }
}
.menu {
  float: left;
}

.menu-right a:hover,
.menu a:hover {
  color: whitesmoke;
}

.menu-right {
  float: right;
  padding-right: 20px;
}

.menu-right,
.menu {
  a {
    padding: 0 10px;
    text-decoration: none;
    color: $white;
  }
}

/*
    RESPONSIVE
*/

@media only screen and (max-width: 750px) {

  .header {position: static;}
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
  .site-pusher {
    height: 100%;
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;

    cursor: pointer;

    width: 50px;
    height: 66px;
  }

  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 0px;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    background-color: #333;

    width: 250px;
    z-index: 10;

    transform : translateX(-250px);
  }

  .menu a {
    display: block;
    height: 40px;

    text-align: center;
    text-decoration: none;
    line-height: 40px;

    border-bottom: 1px solid whitesmoke;
  }

  .with--sidebar .site-pusher {
    transform : translateX(250px);
  }

  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:  0;
    background-color: rgba(0,0,0,0.6);
  }

  .mobile-hide{ display: none; }
}

/* ****************************************************
                    END OF NAVBAR
* *************************************************** */

.skill-box {
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  background-color: #E0F2F1;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #BDBDBD;
}

.skill-box-content {
    word-wrap: break-word;
}

.cv-items-date {
  padding-left: 25px;
}

.job-description {
  padding-left: 10px;
}

.cv-item-dates {
  padding-left: 25px;
}
