$font-stack: Helvetica, sans-serif;
$primary-color: #009688;

$white: #E0F2F1;
$link-active-color: #CDDC3;

/*
 * Base structure
 */

html, body {

  font-family: "RobotoDraft", "Roboto", sans-serif;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  height: 100%;

  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $link-active-color;
  text-decoration: none;
}

h2 {
  color: $primary-color;
}

.center {
  text-align: center;
}

.link-active {
  color: $link-active-color;
  text-decoration: none;
}

.site-content {
  position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
}


.category-header {
  margin-top: 5px;
  padding: 5px;
}

.category-content {
  margin-top: 15px;
  padding: 5px;
}

.skill-content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

}

/*
    NAVBAR
*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;

  line-height: 66px;

  color: #FFF;
  background-color: $primary-color;

  border-bottom: 1px solid #00695C;

  a:hover {
    color: $link-active-color;
  }
}

.header__logo {
  color: $white;
  font-size: 1.4em;
  padding: 0 25px;
  float: left;

  a {
    text-decoration: none;
    color: #9d9d9d;
  }
}
.menu {
  float: left;
}

.menu-right a:hover,
.menu a:hover {
  color: whitesmoke;
}

.menu-right {
  float: right;
  padding-right: 20px;
}

.menu-right,
.menu {
  a {
    padding: 0 10px;
    text-decoration: none;
    color: $white;
  }

}

.skill-box {
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  background-color: #E0F2F1;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #BDBDBD;
}

.skill-box-content {
    word-wrap: break-word;
}

.cv-items-date {
  padding-left: 25px;
}

.job-description {
  padding-left: 10px;
}

.cv-item-dates {
  padding-left: 25px;
}